python==3.9.15
numpy==1.26.4
matplotlib==3.8.4
pandas==1.5.3
xarray==2024.3.0
scipy==1.10.1
cartopy==0.23.0
xskillscore==0.0.26
tensorflow==2.7.0
keras==2.7.0
kerastuner==1.4.7
scikit-learn==1.0.2
alibi==0.7.0
